@charset "UTF-8";

footer {
	background-color: #f39c12;
	padding: 0;
	margin: 0;
	position: fixed;
	width: 100%;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.righter {
	display: flex;
	justify-content: flex-end;
}

.footer-message {
	font-weight: bold;
	font-size: 0.9rem;
	color: #545e6f;
	margin-bottom: 0.3rem;
	margin: 0 0 0 0.6rem;
}

.footer-contact {
	font-size: 0.9rem;
	color: #545e6f;
	margin: 0.6rem;
}

.footer-copyright {
	font-size: 0.9rem;
	color: #545e6f;
	margin: 0.6rem;
}